*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-content {
    min-height: 1000px;
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: 300px 700px;
}

.left-section {
    grid-column: span 1;
    background-color: #000000;
    color: white;
    padding: 1rem;
}

.right-section {

    grid-column: span 1 / span 2;
    background-color: darkgray;
}

/* Image style */
.profile-image {
    display: block;
    margin: 0 auto;
    width: 100%;
    border: 5px solid white;
    border-radius: 30%;
}

/* Name */
.name {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02px;
    padding: 0.8rem;
}

/* designation */
.designation {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}

/* description */
.description {
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
}

.social-media ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.social-media .fa {
    font-size: 30px;
}


/* Skills section */
.skills {
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0.5rem;
}

.skill-name {
    font-size: 0.65rem;
    font-weight: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
}

.progress-bar {
    border: 1px solid white;
    height: 4px;
}

.right-main-content {
    padding: 2rem 3rem;
}

.right-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
}

.para {
    padding-left: 0.5rem;
}

/* Resonsive Media query*/
@media screen and (max-width: 673px) {
    .main-content {
        grid-template-columns: repeat(1, 1fr);
    }
}